.color_grupo_0 {background: transparent; color: #000;}
.color_grupo_1 {background: #AA7539; color: #FFD8AA;}
.color_grupo_2 {background: #A7383E; color: #FBA7AB;}
.color_grupo_3 {background: #6F256F; color: #A66FA6;}
.color_grupo_4 {background: #423075; color: #897BAF;}
.color_grupo_5 {background: #2C4770; color: #7689A9;}
.color_grupo_6 {background: #277455; color: #74AE97;}
.color_grupo_7 {background: #749D34; color: #CCEB9D;}
.color_grupo_8 {background: #AAA239; color: #FFF9AA;}

.color_actividad_1 {background: #1A353D; color: #fff;}
.color_actividad_2 {background: #285121; color: #fff;}
.color_actividad_3 {background: #aaa; color: #fff;}
.color_actividad_4 {background: #622727; color: #fff;}
